<div
  class="wp-attachment-upload hide-when-print"
  *ngIf="workPackage.canAddAttachments"
  ngf-drop
  ngf-select
  ngf-change="uploadFiles($files)"
  ngf-multiple="true"
  ngf-validate="{ size: {max: maxFileSize} }"
  tabindex="0"
  [attr.aria-label]="text.uploadLabel">
  <div class="work-package--attachments--drop-box">
    <div class="work-package--attachments--label">
      <op-icon icon-classes="icon-attachment"></op-icon>
      <p>
        {{ text.dropFiles }} <br>
        {{ text.dropFilesHint }}
      </p>
    </div>
  </div>
</div>
