<div [ngClass]="isMultiselect ? 'textarea-wrapper' : ''"
     class="inline-label">

  <select
      *ngIf="!isMultiselect"
      class="focus-input wp-inline-edit--field inplace-edit--field -animated form--select"
      [(ngModel)]="selectedOption"
      [attr.aria-required]="field.required"
      [required]="field.required"
      [disabled]="field.inFlight"
      [id]="handler.htmlId"
      (keydown)="handler.handleUserKeydown($event, true)"
      (change)="handler.handleUserSubmit()"
  >
    <option
        value=""
        [textContent]="text.requiredPlaceholder"
        *ngIf="currentValueInvalid || options.length == 0"
        [selected]="currentValueInvalid || options.length == 0"
        disabled>
    </option>
    <option
        *ngFor="let value of valueOptions"
        [ngValue]="value"
        [textContent]="value.name"
        disabled>
    </option>
  </select>

  <select
      *ngIf="isMultiselect"
      [(ngModel)]="selectedOption"
      class="focus-input wp-inline-edit--field inplace-edit--textarea -animated form--select"
      [attr.aria-required]="field.required"
      [required]="field.required"
      [disabled]="field.inFlight"
      [id]="handler.htmlId"
      (keydown)="handler.handleUserKeydown($event, true)"
      (change)="handler.handleUserSubmit()"
      multiple
      size=5
  >
    <option
        value=""
        [textContent]="text.requiredPlaceholder"
        *ngIf="currentValueInvalid || options.length == 0"
        [selected]="currentValueInvalid || options.length == 0"
        disabled>
    </option>
    <option
        *ngFor="let value of valueOptions"
        [ngValue]="value"
        [textContent]="value.name"
        disabled>
    </option>
  </select>

  <a href class="wp-inline-edit--toggle-multiselect form-label no-decoration-on-hover -transparent"
     ng-click="vm.field.toggleMultiselect()">
    <op-icon *ngIf="isMultiselect"
             icon-classes="icon-minus2 icon4"
             [icon-title]="text.switch_to_single_select"></op-icon>
    <op-icon *ngIf="!isMultiselect"
             icon-classes="icon-add icon4"
             [icon-title]="text.switch_to_multi_select"></op-icon>
  </a>

  <edit-field-controls [fieldController]="handler"
                       *ngIf="!handler.inEditMode"
                       (onSave)="handler.handleUserSubmit()"
                       (onCancel)="handler.handleUserCancel()"
                       [saveTitle]="text.save"
                       [cancelTitle]="text.cancel">
  </edit-field-controls>
</div>
